/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --primary-color: #fff;
  --secondary-color: #111827;
  --para-color: #aaaaaa;
  --button-color: #11a64c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: unset !important;
}
h1,
h2,
h3,
h4,
h5,
h6
{
  font-weight: 600;
  line-height: 0.8;
}
p {
  text-transform: capitalize;
  line-height: 150%;
}
ul,
ol {
  list-style-type: none;
}
a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}
/* Default CSS */
.common_heading {
  margin-bottom: 12px;
  line-height: 130%;
}
.common_btn {
  color: #fff;
  background: var(--button-color);
  font-weight: 500;
  padding: 12px 30px;
  border: 2px solid var(--button-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.common_btn:hover {
  background: transparent;
  border: 2px solid var(--button-color);
}

/* Nav start here */
#nav_bar {
  background: #fff;
  padding: 22px 0;
}
.navbar.xyz{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0px 3px 7px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 3px 7px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 7px 2px rgba(0,0,0,0.1);
  animation: sticky 1s;
  -webkit-animation: sticky 1s;
}
@keyframes sticky {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
.nav_logo {
  width: 130px;
}
.nav_item_link {
  padding: 6px 20px !important;
  transition: all linear 0.3s;
  font-size: 18px;
  color: var(--secondary-colors);
}

.nav_item_link:hover {
  background: var(--button-color);
  color: #fff;
  border-radius: 6px;
}
/* Nav end here */

/* Banner Start Here */
#banner {
  background: linear-gradient(#11182787, #111827ad),
    url("../images/banner02.1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  margin-bottom: 100px;
}
.banner_content {
  position: relative;
}
.banner_content p {
  color: #ddd;
  font-size: 16px;
  text-align: justify;
}
.teach_board {
  position: absolute;
  top: 8px;
  right: -240px;
  width: 230px;
  animation: teach_board 2s linear alternate infinite;
  -webkit-animation: teach_board 2s linear alternate infinite;
}
@keyframes teach_board {
  0% {
    transform: translateY(-4%);
    -webkit-transform: translateY(-4%);
    -moz-transform: translateY(-4%);
    -ms-transform: translateY(-4%);
    -o-transform: translateY(-4%);
  }
  100% {
    transform: translateY(4%);
    -webkit-transform: translateY(4%);
    -moz-transform: translateY(4%);
    -ms-transform: translateY(4%);
    -o-transform: translateY(4%);
  }
}
.banner_content h1 {
  font-size: 68px;
  font-weight: 600;
  line-height: 104%;
  margin-bottom: 32px;
  color: #fff;
}
.banner_content h1 span {
  color: var(--button-color);
  font-size: 68px;
  font-weight: 500;
}
.banner_img {
  width: 300px;
  transform: rotate(22deg);
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  position: relative;
  z-index: 555;
  padding-top: 30px;
}
.b_shape_img {
  position: absolute;
  top: 50%;
  left: 61%;
  width: 70px;
}
.header_shape {
  position: absolute;
  top: 0;
  left: 0;
}
.header_wave {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
}
.header_wave img{
  width: 100%;
}
/* Banner End Here */

/* Feature Start Here */
#feature {
  background: var(--secondary-color);
  /* margin-top: 100px; */
  padding: 60px 0;
  overflow: hidden;
}
.feature_details span {
  color: #ddd;
  font-size: 14px;
  position: relative;
}

.feature_details span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: blue;
  bottom: -5px;
}
.feature_heading h2 {
  line-height: 112%;
  margin-top: 20px;
  font-weight: 500;
  color: #fff;
  font-size: 45px;
}
.feature_heading p {
  color: #ddddddd6;
  font-size: 16px;
  margin-bottom: 26px;
}

.icon_detail p {
  color: #ddddddd6;
  font-size: 15px;
  margin-bottom: 30px;
}
.feature_img {
  width: 250px;
  margin: 0 auto;
  animation: featureImage 2s linear infinite alternate;
  -webkit-animation: featureImage 2s linear infinite alternate;
}
@keyframes featureImage {
  0% {
    transform: translateY(-4%);
    -webkit-transform: translateY(-4%);
    -moz-transform: translateY(-4%);
    -ms-transform: translateY(-4%);
    -o-transform: translateY(-4%);
  }
  100% {
    transform: translateY(4%);
    -webkit-transform: translateY(4%);
    -moz-transform: translateY(4%);
    -ms-transform: translateY(4%);
    -o-transform: translateY(4%);
  }
}
.icon_detail h6 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.details_icon i {
  font-size: 24px;
  color: var(--button-color);
}
/* Feature End Here */

/* Screen Shot Start Here */
#screenShot {
  margin-top: 100px;
}
.screenshot_image{
  margin: 0 20px;
}
#screenShot .slick-dots{
  display: flex;
  justify-content: center;
  margin-top: 45px;
  column-gap: 10px;
}
#screenShot .slick-dots li button{
  display: none;
}
#screenShot .slick-dots li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  cursor: pointer;
}
#screenShot .slick-dots li.slick-active{
  background-color: var(--button-color);
}
/* Screen Shot End Here */

/* App Videos Start Here */
#videos{
  background: linear-gradient(rgba(17, 24, 39, 0.74), rgba(17, 24, 39, 0.74)), url("../images/video_part.jpg") 50% 50% fixed;
  padding: 200px 0;
  margin-top: 100px;
}
.videos_icon{
  position: relative;
}
.videos_icon a i{
  font-size: 70px;
  color: var(--button-color);
  position: relative;
}
.videos_icon a i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #06ff0063;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 99;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  animation: pulse 1.5s infinite;
  -webkit-animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 0.75;
  }
  100% {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    opacity: 0;
  }
}
.videos_icon h2 {
  color: #fff;
  font-size: 42px;
  text-transform: capitalize;
}
.videos_icon p {
  font-size: 15px;
  color: #ddddddd6;
  line-height: 25px;
}
.vbox-container {
  max-width: 800px;
  overflow: hidden;
  margin: 0 auto;
}
.vbox-close {
  font-size: 20px;
}
/* App Videos End Here */

/* Reviews Start here */
#reviews {
  margin-top: 100px;
  background: url("../images/client_bg.svg");
  background-position: center;
  overflow: hidden;
}
.reviews_heading h2 {
  color: #000;
  font-size: 42px;
}
.reviews_heading p {
  color: #999999;
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}
.reviews_details {
  background: var(--secondary-color);
  padding: 60px 38px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 20px 0px rgba(222, 222, 222, 1);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.reviews_details p {
  color: #aaaaaa;
  line-height: 170%;
  text-align: justify;
}
.client_information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.client_name h5 {
  color: #fff;
  font-size: 16px;
  margin: 0;
}
.client_reviews i {
  font-size: 14px;
  color: #f3be3c;
}
.reviews_details:hover {
  background: var(--button-color);
}
.reviews_details:hover p {
  color: #f5f3f3;
}
.reviews_details:hover .client_information h5 {
  color: var(--primary-color);
}
.reviews_details:hover.client_information i {
  font-size: 16px;
}
/* Reviews End here */

/* Counter Start Here */
#counts{
  background: var(--secondary-color);
  padding: 100px 0;
  margin-top: 100px;
}
.counter_up {
  text-align: center;
  color: white;
  border: 2px solid rgb(17, 166, 76);
  padding: 32px 0;
  border-radius: 5px;
}
.counter_up h1 {
  color: #11a64c;
  margin-bottom: 14px;
}
/* Counter End Here */

/* Team Start Here */
#team {
  background: #f4f7fd;
  padding: 100px 0 120px 0;
}
.team_box {
  background: #ffff;
  padding: 22px;
  margin: 22px 0;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(222, 222, 222, 1);
}
.team_heading h2 {
  color: #000;
  font-size: 42px;
}
.team_heading p {
  color: #999999;
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}
.team_details h4 {
  font-size: 24px;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.team_details span {
  color: #5c5c5c;
  font-size: 16px;
}
.team_img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 330px;
  object-fit: cover;
  cursor: pointer;
}
.team_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.team_social_link {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 100%;
  height: 100px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  transition: all linear 0.4s;
}
.team_img:hover .team_social_link{
  bottom: 0;
}
.team_social_link a i {
  color: var(--secondary-color);
  background: #ddd;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.team_social_link a i:hover {
  background: var(--button-color);
  color: var(--primary-color);
}
/* Team End Here */

/* App download link start here */
#download {
  background: var(--secondary-color);
  padding: 60px 0;
  position: relative;
  margin-bottom: 0;
}
.download_app_details h2 {
  color: #fff;
  font-size: 42px;
}
.download_app_details p {
  font-size: 16px;
  color: #ddddddd6;
  max-width: 500px;
}
.d_button {
  display: flex;
  align-items: center;
  column-gap: 25px;
  margin-top: 15px;
}
.d_button a {
  background: var(--button-color);
  color: var(--primary-color);
  padding: 12px 20px;
  border-radius: 6px;
  border: 2px solid var(--button-color);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0s3s;
}
.d_button a i {
  font-size: 24px;
  margin-right: 6px;
}
.d_button a:hover {
  color: #fff;
  background: transparent;
  border: 2px solid var(--button-color);
}
.d_image {
  position: absolute;
  top: -48px;
  width: 270px;
  animation: dImage 1s linear infinite alternate;
  -webkit-animation: dImage 1s linear infinite alternate;
}
@keyframes dImage {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(5%);
  }
}
.d_image2 {
  position: absolute;
  width: 270px;
  top: 46px;
}
/* App download link end here */

/* FAQ Start here */
#faq {
  background: #f4f7fd;
  margin: 150px 0 0 0;
  padding: 290px 0px 120px 0;
  margin-top: 0;
}
.faq_heading h2 {
  color: #000;
  margin-top: 20px;
}
.faq_heading p {
  color: #000;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 28px;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
	border-radius: 10px;
}
.accordion-button:focus {
  border-color: 0;
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: var(--button-color);
  color: #fff;
}
.accordion-button::after {
  background-image: url("../images/faq_icon.png");
}
.accordion-button:not(.collapsed)::after{
  background-image: url("../images/faq_icon.png");
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.accordion-item {
  box-shadow: 0px 3px 7px 0px rgb(67 100 157 / 43%);
  margin-bottom: 24px;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
/* FAQ End here */

/* Newsletter More Start here */
#newsletter{
 background: linear-gradient(rgba(17, 24, 39, 0.74), rgba(17, 24, 39, 0.74)), url("../images/newsletter.jpg") 50% 50% fixed;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 padding: 100px 0;
}
.news_title h3 {
  font-size: 42px;
}
.news_title p {
  font-size: 16px;
  color: #ddddddd6;
}
.news-subscribe {
  margin-top: 50px;
}
.news-subscribe input {
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-bottom: 15px;
}
.news-subscribe a {
  background: #11a64c;
  color: #ffff;
  border-radius: 6px;
  font-weight: 600;
  padding: 12px 16px;
}
/* Newsletter More End here */

/* Footer Start here */
#footer{
  background: var(--secondary-color);
  padding: 70px 0 10px 0;
}
.widget_img {
  filter: invert(1);
  width: 120px;
  cursor: pointer;
  margin-bottom: 22px;
}
.widget p {
  color: #ddddddd6;
  margin-right: 100px;
}
.widget_social_link a {
  margin-right: 8px;
}
.widget_social_link a i {
  background: var(--button-color);
  color: #fff;
  border: 2px solid var(--button-color);
  border-radius: 4px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.widget_social_link a i:hover {
  background: transparent;
  border: 2px solid var(--button-color);
}
.widget_heading h4 {
  font-size: 22px;
  color: #fff;
}
.widget_list {
  margin-top: 30px;
  padding: 0;
}
.widget_list li a {
  color: #ddddddd6;
  margin-bottom: 10px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
ul.widget_list li a:hover {
  color: var(--button-color);
}
.widget_app_download {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.widget_app_download a{
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 16px;
  border-radius: 5px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  width: 166px;
  color: #fff;
}
.widget_app_download a i {
  font-size: 22px;
  margin-right: 10px;
}
.widget_app_download a:hover{
  background: var(--button-color);
  color: #fff;
  border: 1px solid var(--button-color);
}

/* Copyright Start Here */
.copyright {
  border-top: 2px solid var(--button-color);
  padding-top: 23px;
  color: #ddddddd6;
}
.copyright p a {
  font-weight: 700;
  color: #11a64c;
}
/* Copyright End Here */
/* Footer End here */

/* Bottom Top Start here */
.bottom_top_icon {
  position: fixed;
  right: 32px;
  bottom: 26px;
  background: var(--button-color);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.bottom_top_icon .inner{
  width: 50px;
  height: 50px;
  border-radius: 8px;
  font-size: 28px;
  display: flex;
  cursor: pointer; 
  align-items: center;
  justify-content: center;
  color: #fff;
}
.bottom_top_icon:hover {
  background: #00b548;
}
/* Bottom Top End here */

/* Prelaoder Start Here */
.preloader{
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader img{
  width: 280px;
  filter: invert(1);
}
/* Preloader End Here */

/* Modal Start Here */
.modal-content{
  font-family: "Poppins", sans-serif;
  padding: 14px 25px;
}
/* Modal End Here */