/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #fff;
  --secondary-color: #111827;
  --para-color: #aaaaaa;
  --button-color: #11a64c;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 42px;
  line-height: 0.8;
  color: var(--primary-color);
}
p {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--para-color);
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
span {
  font-size: 14px;
  color: #999999;
}
a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}
img {
  width: 100%;
}
/* Default CSS */
.common_heading {
  margin-bottom: 18px;
  /* line-height: 150%; */
}
.common_btn {
  color: #fff;
  background: var(--button-color);
  font-weight: 500;
  padding: 12px 30px;
  border: 2px solid var(--button-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.common_btn:hover {
  background: transparent;
  border: 2px solid var(--button-color);
}

/* Nav start here */
#nav_bar {
  background: #fff;
  padding: 22px 0;
}
.nav_logo {
  width: 100px;
}
a.nav-link.nav_item_link {
  padding: 6px 13px !important;
  transition: all linear 0.3s;
}

a.nav-link.nav_item_link:hover {
  background: var(--button-color);
  color: #fff;
  border-radius: 6px;
}
/* Nav end here */

/* Banner Start Here */
#banner {
  background: linear-gradient(#11182787, #111827ad),
    url("../images/banner02.1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
}
.banner_content {
  position: relative;
}

.teach_board {
  position: absolute;
  top: 8px;
  right: -224px;
  width: 230px;
  animation: teach_board 2s linear alternate infinite;
  -webkit-animation: teach_board 2s linear alternate infinite;
}
@keyframes teach_board {
  0% {
    transform: translateY(-4%);
    -webkit-transform: translateY(-4%);
    -moz-transform: translateY(-4%);
    -ms-transform: translateY(-4%);
    -o-transform: translateY(-4%);
  }
  100% {
    transform: translateY(4%);
    -webkit-transform: translateY(4%);
    -moz-transform: translateY(4%);
    -ms-transform: translateY(4%);
    -o-transform: translateY(4%);
  }
}
.banner_content h1 {
  font-size: 68px;
  font-weight: 500;
  line-height: 104%;
  margin-bottom: 32px;
}
.banner_content h1 span {
  color: var(--button-color);
  font-size: 68px;
  font-weight: 500;
}
.banner_img {
  width: 300px;
  transform: rotate(22deg);
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  -o-transform: rotate(22deg);
}
.b_shape_img {
  position: absolute;
  top: 50%;
  left: 61%;
  width: 70px;
}
.header_shape {
  position: absolute;
  top: 0;
  left: 0;
}
.header_wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
}
/* Banner End Here */

/* Feature Start Here */
#feature {
  background: var(--secondary-color);
  margin-top: 100px;
  padding: 35px 0;
}
.feature_details span {
  color: #ddd;
  font-size: 14px;
  position: relative;
}

.feature_details span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: blue;
  bottom: -5px;
}
.feature_heading h2 {
  line-height: 112%;
  margin-top: 20px;
  font-weight: 500;
}
.feature_img {
  width: 250px;
  margin: 0 auto;
  animation: featureImage 2s linear infinite alternate;
  -webkit-animation: featureImage 2s linear infinite alternate;
}
@keyframes featureImage {
  0% {
    transform: translateY(-4%);
    -webkit-transform: translateY(-4%);
    -moz-transform: translateY(-4%);
    -ms-transform: translateY(-4%);
    -o-transform: translateY(-4%);
  }
  100% {
    transform: translateY(4%);
    -webkit-transform: translateY(4%);
    -moz-transform: translateY(4%);
    -ms-transform: translateY(4%);
    -o-transform: translateY(4%);
  }
}
.icon_detail h6 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 18px;
}

.details_icon i {
  font-size: 24px;
  color: var(--button-color);
}
/* Feature End Here */

/* Team Start Here */
section#team {
  margin-top: 100px;
  background: #f4f7fd;
  padding: 60px 0;
}
.team_box {
  cursor: pointer;
  background: #ffff;
  padding: 22px;
  margin: 50px 0;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(222, 222, 222, 1);
}
.team_details h4 {
  font-size: 18px;
}
.team_img {
  position: relative;
}
.team_img img {
  border-radius: 10px;
}
.team_details h4 {
  color: var(--secondary-color);
}
.team_social_link {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.team_social_link a i {
  color: var(--secondary-color);
  background: #ddd;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.team_social_link a i:hover {
  background: var(--button-color);
  color: var(--primary-color);
}
/* Team End Here */

/* Reviews Start here */
#reviews {
  margin-top: 100px;
  background: url("../images/client_bg.svg");
  background-position: center;
}
.reviews_heading h2 {
  color: #000;
}
.reviews_heading p {
  color: #999999;
}
.reviews_details {
  background: var(--secondary-color);
  padding: 30px 38px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 20px 0px rgba(222, 222, 222, 1);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.reviews_details p {
  color: #aaaaaa;
  line-height: 170%;
}
.client_information h5 {
  color: #fff;
  font-size: 16px;
  margin: 0;
}
.client_information i {
  font-size: 14px;
  color: #f3be3c;
}
.reviews_details:hover {
  background: var(--button-color);
}
.reviews_details:hover p {
  color: #f5f3f3;
}
.reviews_details:hover .client_information h5 {
  color: var(--primary-color);
}
.reviews_details:hover.client_information i {
  font-size: 16px;
}
/* Reviews End here */

/* Screen Shot Start Here */
#screenShot {
  margin-top: 100px;
}
/* Screen Shot End Here */

/* App download link start here */
#download {
  background: var(--secondary-color);
  padding: 60px 0;
  position: relative;
  margin: 100px 0;
}
.d_button {
  display: flex;
  align-items: center;
  column-gap: 25px;
  margin-top: 15px;
}
.d_button a {
  background: var(--button-color);
  color: var(--primary-color);
  padding: 12px 20px;
  border-radius: 6px;
  border: 2px solid var(--button-color);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0s3s;
}
.d_button a i {
  font-size: 24px;
  margin-right: 6px;
}
.d_button a:hover {
  color: #fff;
  background: transparent;
  border: 2px solid var(--button-color);
}
.d_image {
  position: absolute;
  top: -48px;
  width: 270px;
  animation: dImage 1s linear infinite alternate;
  -webkit-animation: dImage 1s linear infinite alternate;
}
@keyframes dImage {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(5%);
  }
}

.d_image2 {
  position: absolute;
  width: 270px;
  top: 46px;
}
/* App download link end here */

/* FAQ Start here */
#faq {
  background: #f4f7fd;
  margin: 150px 0 100px 0;
  padding: 130px 0px 100px 0;
}
.faq_heading h2 {
  color: #000;
  margin-top: 20px;
}
.faq_heading p {
  color: #000;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 28px;
}
.faq_accordion {
  box-shadow: 0px 0px 20px 0px rgba(222, 222, 222, 1);
  padding: 15px 36px;
  background: #fff;
  border-radius: 10px;
}
.accordion-header {
  padding: 10px 20px;
}
.accordion-button:focus {
  border-color: 0;
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
}
.accordion-button::after {
  background-image: url("../images/download.png");
}
/* FAQ End here */

/* learn More Start here */
#learnMore {
  position: relative;
  background:linear-gradient(rgba(17, 24, 39, 0.74), rgba(17, 24, 39, 0.74)), url("../images/learn_banner.jpg") 50% 50% fixed;
  padding: 100px 0;
}
.learn_title h2 {
  font-size: 34px;
}
/* learn More End here */

/* Footer Start here */
#footer{
  background: var(--secondary-color);
  padding: 70px 0;
  margin-top: 100px;
}

.widget_img {
  filter: invert(1);
  width: 100px;
  cursor: pointer;
  margin-bottom: 22px;
}
.widget_heading h4 {
  font-size: 22px;
}

ul.widget_list {
  margin-top: 30px;
}
ul.widget_list li a {
  color: var(--para-color);
  padding-bottom: 10px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

ul.widget_list li a:hover {
  color: var(--button-color);
}
.widget_app_download {
  margin-top: 32px;
}
.widget_app_download a{
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.widget_app_download a i {
  font-size: 22px;
  margin-right: 10px;
}
.widget_app_download a:hover{
  background: var(--button-color);
  color: #fff;
  border: 1px solid var(--button-color);
}
/* Footer End here */

/* Bottom Top Start here */
.bottom_top_icon {
  position: fixed;
  right: 32px;
  bottom: 26px;
  background: var(--button-color);
  padding: 0px 13px;
  border-radius: 8px;
  font-size: 28px;
  cursor: pointer;
}
/* Bottom Top End here */
